<nav>
  <div class="site-title">
    <a href="/"><h1>Hidden Ones</h1></a>
    <p>The Old Man of The Mountain</p>
  </div>
  <ul>
    <li><a href="/">Users</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/users/create">New User</a></li>
  </ul>
</nav>